* {
  font-family: 'Heebo', sans-serif!important;
}
  
  .App {
  text-align: center;
  /* background-color: #DDF; */
  height: 100%;
}

.Footer{
  position: absolute; 
    padding-top: 40%; 
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
