  #page {
    background-color: #FCD;
}

#form {
    background-color: #FFF;
    padding: 20px 26% 0px 26%;
}

.form-icon {
    padding-top: 2%;
    padding-right: 2%;
    color: #a742f5;
}

.alert {
    width: 80%;
    height: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

#card {
    padding-left: 15%;
    padding-right: 15%;
}

