#page{
    background-color: #FCD;
}

#form {
    background-color: #FFF;
    padding: 20px 26% 0px 26%;
}

.form-icon {
    padding-top: 2%;
    color: #a742f5;

}

#card{
    padding-left: 15%;
    padding-right: 15%;
}